data/*
third-party/*
pannot_empty/*
wandb/*
results/*
logs/*
local_pretrained_encoders/*
local_pretrained_llm/*
checkpoints/*
.ipynb_checkpoints/*
asset/*
*/__pycache__/*
*.pyc
.gitignore
.ipynb_checkpoints
lCASPSimilarSeq_go_test.jsonlogs/*